.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  color: white;
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: var(--accent-color);
  filter: brightness(0.8);
}
